// Home page variabelen



// Playstation variabelen



// PC variabelen



// Xbox variabelen
$x-font-color: #E0E0E0;
$x-nav-font-weight: 550;
$x-bg-color: #121212;
$x-nav-img-size: 100px;
$x-header-bg: #004500;
$x-product-card-shadow: 4px 4px 10px #00FF00;



// Nintendo variabelen
