// Globaal
$font-color: #E0E0E0;
$nav-font-weight: 550;
$bg-color: #121212;
$nav-img-width: 100px;



// Playstation variabelen




// PC variabelen




// Nintendo variabelen




// Xbox variabelen
$x-navBg: #004500;