// Initialisatie
@import 'variables.scss';

// Global
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $bg-color;
}
header{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    background-color: $header-bg;
    nav{
        ul{
            display: flex;
            justify-content: center;
            gap: 100px;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    font-size: 35px;
                    color: $font-color;
                    font-weight: 500;
                }
                a.selected-page{
                    font-weight: 900;
                    text-shadow: 2px 2px 20px #00FF00;
                }
            }
        }
    }
    .logo{
        width: $nav-img-size ;
        justify-self: start;
    }

    .winkelmandje-img{
        width: $nav-img-size;
        justify-self: end;
    }
}