* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  background-color: #004500;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-size: 35px;
  color: #E0E0E0;
  font-weight: 500;
}
header nav ul li a.selected-page {
  font-weight: 900;
  text-shadow: 2px 2px 20px #00FF00;
}
header .logo {
  width: 100px;
  justify-self: start;
}
header .winkelmandje-img {
  width: 100px;
  justify-self: end;
}

main section.product-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}
main section.product-container article.game-card {
  background-color: #004500;
  margin-top: 100px;
  color: #E0E0E0;
  width: 420px;
  height: fit-content;
  box-shadow: 4px 4px 10px #00FF00;
}
main section.product-container img.game-img {
  background-color: #004500;
  padding: 10px;
}